.searchBox {
  width: 100px;
}

.test{
  width: 90%;
  display: grid;
  margin-bottom: 5px;
}

.character{
  border: 3px solid rgb(54, 54, 54);
  margin: 5px;
  border-radius: 10%;
  box-shadow: 10px 5px 5px rgb(100, 90, 90);
  opacity: 80%;
  background-color: rgb(80, 76, 76);
}

.character:hover{
  opacity: 95%;
}

.img{
  opacity: 70%;
}

@media screen and (min-width: 240px) and (max-width:640px) {

  .character{
    width: 90%;
    justify-self: center;
    height: max-content;
    grid: 200px 100px / auto-flow 30%;
  }
  
  .p{
    font-size: 10px;
    text-align: center;
    height: 20%;
    margin-bottom: 5px;
    margin-top: 0px;
  }
  
  .img{
    width: 100%;
  }
}



@media screen and (min-width: 641px) and (max-width:1090px) {

  .test {
    grid-template-columns: repeat(2, 1fr)
  }

  .character{
    width: 90%;
    justify-self: center;
    height: min-content;
    grid-area: auto;
  }

  .p{
    font-size: 50%;
    text-align: center;
    height: 20%;
    margin-bottom: 5px;
    margin-top: 0px;
  }

  .img{
    width: 100%;
  }
}

@media screen and (min-width: 1091px) {

  .test {
    grid-template-columns: repeat(3, 1fr)
  }

  .character{
    width: 90%;
    justify-self: center;
    height: min-content;
    grid-area: auto;
  }

  .p{
    font-size: 80%;
    text-align: center;
    height: 20%;
    margin-bottom: 5px;
    margin-top: 0px;
  }

  .img{
    width: 100%;
  }
}

